﻿@inject IJSRuntime JSRuntime

<script>
    window.getAntiForgeryToken = () => {
        console.log("window.getAntiForgeryToken")
        var elements = document.getElementsByName('__RequestVerificationToken');
        if (elements.length > 0) {
            return elements[0].value
        }

        console.warn('no anti forgery token found!');
        return null;
    }
</script>

<input type="hidden" id="__RequestVerificationToken"
       name="__RequestVerificationToken" value="@GetToken()">

@code {

    private string token = "";

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (OperatingSystem.IsBrowser())
            token = await JSRuntime.InvokeAsync<string>("getAntiForgeryToken");
        Console.WriteLine(token);
        await base.OnAfterRenderAsync(first);
    }

    public string GetToken()
    {
        return token;
    }

}
