﻿@inherits LayoutComponentBase

<MyMudThemeProvider />
<MyMudProviders />


<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />
        <AuthorizeView>
            <Authorized>
                <strong>Hello, @context?.User?.Identity?.Name!</strong>
                <form method="get" action="api/Account/Logout">
                    <AntiForgeryTokenInput />
                    <MudButton Class="ml-4" Color="Color.Inherit" ButtonType="ButtonType.Submit">Sign out</MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <MudButton Color="Color.Inherit" Href="api/Account/Login">Log in</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">MudBlazorTemplates1</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}