﻿@inject AuthenticationStateProvider _auth

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    @if (state?.User.Identity?.IsAuthenticated == true)
    {
        <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Counter</MudNavLink>
        <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Weather</MudNavLink>
    }

</MudNavMenu>

@code {
    AuthenticationState? state;

    protected override async Task OnInitializedAsync()
    {
        state = await _auth.GetAuthenticationStateAsync();
        await base.OnInitializedAsync();
    }
}