﻿@page "/counter"

@inject IServiceProvider _service
@inject IJSRuntime _js
@inject NavigationManager _nav

<script>
    function someFunc() {
        console.log("kyyy")
    }
</script>

<PageTitle>Counter</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Counter</MudText>
<MudText Class="mb-4">Current count: @currentCount</MudText>
<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="IncrementCount">Click me</MudButton>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        currentCount += 1;
        if (!OperatingSystem.IsBrowser())
            return;
        _nav.NavigateTo($"api/Account/Login");
        var _ls = _service.GetRequiredService<ILocalStorageService>();
        await _ls.SetItemAsStringAsync("cnt", $"{currentCount}");
    }
}
